<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<!-- Placeholder for local cache -->

<title>{{ header_title }}</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="Wine Tour App" />
<meta name="description" content="{{ header_description }}" />
<meta name="keywords" content="{{ header_keywords }}" />

<meta name="HandheldFriendly" content="true" />
<meta name="viewport" content="user-scalable=no, width=device-width" />

<!-- <style type="text/css" media="only screen and (max-width: 480px)">{% include "css/style.css" %}</style> -->

<style type="text/css" >{% include "css/style.css" %}</style>
<script language="javascript" src="jquery.js" type="text/javascript"></script>
<script language="javascript" src="script.js" type="text/javascript"></script>

<!-- Placeholder for HTML5 Geo-Location

<script>
var initialLocation;
var siberia = new google.maps.LatLng(60, 105);
var newyork = new google.maps.LatLng(40.69847032728747, -73.9514422416687);
var map;
var infowindow = new google.maps.InfoWindow();
var mapOptions = {
  zoom: 13,
  mapTypeId: google.maps.MapTypeId.ROADMAP
};

if (navigator.geolocation) {
  navigator.geolocation.getCurrentPosition(showPosition, onError);
  // also monitor position as it changes
  navigator.geolocation.watchPosition(showPosition);
} else {
  onError();
}

function showPosition(position) {
  map = new google.maps.Map(document.getElementById("content"), mapOptions);
  
  var lat = position.coords.latitude;
  var lng = position.coords.longitude;
  
  initialLocation = new google.maps.LatLng(lat, lng);
  map.setCenter(initialLocation);
  infowindow.setContent(lat + " " + lng);
  infowindow.setPosition(initialLocation);
  infowindow.open(map);
}

function onError() {
  if (navigator.geolocation) {
    initialLocation = newyork;
    contentString = "Error: The Geolocation service failed.";
  } else {
    initialLocation = siberia;
    contentString = "Error: Your browser doesn't support geolocation. Are you in Siberia?";
  }
  mapOptions.zoom = 4;
  map = new google.maps.Map(document.getElementById("content"), mapOptions);
  map.setCenter(initialLocation);
  infowindow.setContent(contentString);
  infowindow.setPosition(initialLocation);
  infowindow.open(map);
}

</script>

  End Placeholder for HTML5 Geo-Location -->

</head>

<!-- Optional header extended by templates here -->

{% block header %}


{% endblock %}

<body>

<!-- Main content extended by templates here -->

{% block content %}



{% endblock %} </p>
<!-- Placeholder for footer -->

<div id="footer">
	&copy;&nbsp;Mountain Metric&nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="/about">About</a>&nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="https://spreadsheets.google.com/viewform?formkey=dFRoYkFnQlZqbEFGQ05CWXlWZkotbWc6MQ">Feedback</a>
</div>

</body>
</html>
