{% extends "base.html" %}

{% block content %}

<!-- BEGIN error module -->
<div id="content">
  <div class="post">
    <h2>Why am I on this page?</h2>
         <p>Congrats, you found a little bug running around in our code somewhere!  We have automatically been notified about this error, so no need to report it to us.  Thanks very much for finding the issue, we'll likely have it fixed in a couple of hours.  In the meantime, try hitting the back button.
        </p>
  </div>
  
    <div class="post">
    <h2>Wow, we failed.  But so did this guy...</h2>
       &nbsp;&nbsp;<img src="/static/images/ski_fail.jpeg" />

  </div>
</div>
      
<!-- END error module -->
      
<!-- BEGIN right column -->
  <div id="sidebar">    

<!-- BEGIN picture module -->
    <div class="box">
      <h2>Gotta love the 80's crash</h2>
       <p>&nbsp;&nbsp;&nbsp;&nbsp;<img src="/static/images/ski_crash.jpeg" /></p>
       <br />
     </div>
<!-- END picture module -->
  </div>
</div>
{% endblock %}