{% extends "base.html" %}

{% block content %}
    
<div id="container">
  
  <div id="header">
    
  <h1><a href="./">Welcome to Mountain Metric</a></h1>
  
    <ul>
      <li><a href="/avalanche">Avalanche Conditions</a></li>
    </ul>
    
    <ul>
      <li><a href="/resorts">Resort Ski Conditions</a></li>
    </ul>
    
    <ul>
      <li><a href="/roads">Road Conditions</a></li>
    </ul>
    
    <ul>
      <li><a href="/weather">Weather Conditions</a></li>
    </ul>

  </div>
  
</div>

{% endblock %}