{% extends "base.html" %}

{% block content %}

<!-- BEGIN error module -->
<div id="content">
  <div class="post">
    <h2>Where is the normal site?</h2>
         <p>We're having a few issues with the normal website you are used to seeing.  Our team is working hard to get the site back up and running as normal.  In the meantime, check out some of the sites listed below to get the info you need.
        </p>
  </div>
  
    <div class="post">
        <h2>More Mountain Metrics</h2>
        <p>Weather Conditions</p>
          <ul>
            <li><a href="http://noaa.gov" target="_blank">NOAA</a></li>
            <li><a href="http://weather.yahoo.com" target="_blank">Yahoo! Weather</a></li>
          </ul>
        <p>Avalanche Conditions</p>
          <ul>
            <li><a href="http://www.sierraavalanchecenter.org/" target="_blank">Sierra Avalanche Center</a></li>
          </ul>
        <p>Road Conditions</p>
          <ul>
            <li><a href="http://www.dot.ca.gov/" target="_blank">California Department of Transportation</a></li>
          </ul>
       <br />
  </div>
</div>
      
<!-- END error module -->
      
<!-- BEGIN right column -->
  <div id="sidebar">    

<!-- BEGIN picture module -->
    <div class="box">
      <h2>Gotta love the 80's crash</h2>
       <p>&nbsp;&nbsp;&nbsp;&nbsp;<img src="/static/images/ski_crash.jpeg" /></p>
       <br />
     </div>
<!-- END picture module -->
  </div>
</div>
{% endblock %}